<div class="list-wrap">
  <div class="list-top clearfix">
  
    <button ng-show="!isPopup()" class="btn btn-success right" ng-click="addRules()">Add Rules</button>
  
    <div class="filter-wrap left">
    
      <cascade-dropdown selected-model="selectOptions" select-name="selectName" on-selected="filter(node, isInit)"></cascade-dropdown>
    
    </div>
  
    <div class="search-wrap left">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="search.string">
          <span class="glyphicon glyphicon-search form-control-feedback" ng-disabled="isLoading" ng-click="goSearch()"></span>
        </div>
      </div>
    </div>
  
  </div>
  <div class="list-middle clearfix">
    <div class="list-middle-left left">
    
      <span class="list-total-checked">{{listTotal}}中{{listChecked.length}}被选</span>
    </div>
    <div class="list-middle-right">
    
    </div>
  </div>
  <div class="list-content" cc-loading-layer="!rulesTableParams.settings().$loading">
    <div ng-show="!rulesTableParams.settings().$loading && items && !items.length" class="no-data">The list is empty, nothing to do！</div>
    <table ng-table="rulesTableParams" class="table table-bordered trans-table" template-pagination="app/layouts/pagination.html">
      <thead>
        <tr>
          <th width="50" header="'ng-table/headers/checkbox.html'">
            <input type="checkbox" id="select_all" ng-model="checkboxes.checked" />
          </th>
        
          <th>音乐名称</th>
        
          <th>音乐来源</th>
        
          <th>发布状态</th>
        
          <th>音乐类型</th>
        
          <th>上映时间</th>
        
        
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td width="50" header="'ng-table/headers/checkbox.html'" class="str-checkbox">
            <input type="checkbox" ng-model="checkboxes.items[item.id]" />
          </td>
      
        
          <td><a ng-click="edit(item)">{{item.title}}</a></td>
        
      
        
          <td>{{item.source}}</td>
        
      
        
          <td>{{item.status}}</td>
        
      
        
          <td>{{item.type}}</td>
        
      
        
          <td>{{item.release_time}}</td>
        
      
      
        </tr>
      </tbody>
    </table>
    <div class="table-footer-btn-wrap left">
    
    </div>
    <span class="list-total">共{{listTotal}}条数据</span>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type = "checkbox"
      ng-model = "checkboxes.checked"
      id = "select_all"
      name = "filter-checkbox"
      value = "" / >
    </script>
  </div>
</div>
